

/* Float four columns side by side */
.column {
  float:left;
  width:1300px;
  padding: 0 10px;
  padding-left: 70px;
  display:flex;
 
  margin-top:150px;
  height:400px;
  position:center;
}
#next2{
padding: 15px 25px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px) {
  .column {
    width: 300px;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  text-align: center;
  background-color: #f1f1f1;
  width: 1300px;
   margin-left:auto;
   margin-right:auto;
   position:center;
  
}
button.next{
  margin-left: 500px;
}
button{
  width: 40%;
 
  border: none;
  background: #d33f8d;
  margin-top: -10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
button:hover{
  background: #000;
}
